@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Open+Sans:wght@300;400;500;600;700&display=swap');

*{
 box-sizing: border-box;
 padding: 0;
 margin: 0;
}


:root {
   //## Colors 
   --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
   --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
   --Grayish-Blue: hsl(212, 23%, 69%);
   --Light-Grayish-Blue: #ecf2f8;
   
// == FONT == 
   font-family: 'Manrope', 'Open Sans', sans-serif;
//      - Weights: 500, 700 

// ## Typography
   
// ### Body Copy
   
   font-size: 13px;
   
// ### Headings

}


   




